<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suites">
    <test verbose="2" preserve-order="true" name="/Users/sbedulin/IdeaProjects/laba3/src/test/java">
        <classes>
            <class name="com.solvd.qa.CategoryTest">
                <methods>
                    <include name="verifyCategoryPage"/>
                </methods>
            </class>
            <class name="com.solvd.qa.CompareTest">
                <methods>
                    <include name="compareSameBrandNames"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>